
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.web-lander {
  width: 100%;
  overflow: hidden;
}

.section-1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf6e3;
  z-index: 1;
}

.background-video-lander {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90vh;
  width: 60%;
  object-fit: cover;
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.web-lander-title {
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: absolute;
  max-width: 65%;
  top: 30%;
}

.web-lander-heading-1 {
  color: whitesmoke;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: absolute;
  top: 40%;
  font-weight: 600;
  max-width: 70%;
}

.web-lander-button {
  color: whitesmoke;
  border: 2px solid #007AFF;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #007AFF;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.web-lander-button:hover {
  background-color: transparent;
  box-shadow: 0 0 20px rgba(0, 122, 255, 0.8);
  transition: all 0.3s ease;
}

.section-2 {
  height: 100vh;
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.web-lander-title-2 {
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  top: -35%;
}

.web-lander-heading-2 {
  color: whitesmoke;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  font-weight: 600;
  /* max-width: 70%; */
  z-index: 5;
  top: -35%;
}

.section-3 {
  height: 100vh;
  background-color: #fdf6e3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.web-lander-title-3 {
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  /* max-width: 65%; */
  top: -35%;
}

.web-lander-heading-3 {
  color: whitesmoke;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  font-weight: 600;
  /* max-width: 70%; */
  z-index: 5;
  top: -35%;
}

.section-4 {
  height: 100vh;
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.web-lander-title-4 {
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  /* max-width: 65%; */
  top: -35%;
}

.web-lander-heading-4 {
  color: whitesmoke;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  font-weight: 600;
  /* max-width: 70%; */
  z-index: 5;
  top: -35%;
}

.section-5 {
  height: 100vh;
  background-color: #fdf6e3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.web-lander-title-5 {
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  /* max-width: 65%; */
  top: -35%;
}

.web-lander-heading-5 {
  color: whitesmoke;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  z-index: 10;
  text-align: center;
  position: relative;
  font-weight: 600;
  /* max-width: 70%; */
  z-index: 5;
  top: -35%;
}