/* Fade-in animation for the message */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-out animation for the message */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Apply the fade-in effect */
.fade-in {
  animation: fadeIn 1s forwards;
}

/* Apply the fade-out effect */
.fade-out {
  animation: fadeOut 1s forwards;
}

.message {
  color: white; /* Default color */
  opacity: 0; /* Initially invisible */
  transition: opacity 1s ease-in-out; /* Ensure smooth transition for fade-in/fade-out */
  font-size: 1.2em;
  text-align: center;
}

.message p {
  margin: 0;
  font-size: 1.2em; /* Example font size */
}

.complete-btn {
  padding: 10px 20px;
  background-color: #f9c21b;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 0 20px rgba(249, 194, 27, 0.8);
  height: 50px;
  width: 100%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.complete-btn:hover {
  background-color: #45bc00;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.chicken-out-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(255, 80, 80, 0.8);
  height: 50px;
  width: 100%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.chicken-out-btn:hover {
  background-color: #ffa477;
  cursor: pointer;
  transition: transform 0.5s ease;
}
