/* General styles for the page */
.main-page {
  padding: 20px;
  text-align: center;
}

.carousel-slide {
  pointer-events: all;
  touch-action: pan-y;
  transform: translate(-50%, 20%);
  height: 100vh;
}

/* Container that holds the title and image */
.category-box {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  height: 20vh;
  width: 80%;
  position: relative;
  margin: 0 auto;
  user-select: none;
  touch-action: pan-y;
}

/* Title of the category */
.category-box h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image styling */
.category-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-position: center;
  display: block;
}

/* For mobile screens (max-width: 480px) */
@media (max-width: 480px) {
  .category-box {
    height: 30vh;
    width: 80%;
  }

  .category-box h2 {
    font-size: 1.2em;
  }

  .category-box img {
    height: 100%;
  }
}

/* For larger screens (min-width: 480px) */
@media (min-width: 480px) {
  .category-box {
    height: 50vh;
    width: 90%;
  }

  .category-box h2 {
    font-size: 1.8em;
  }

  .category-box img {
    height: 100%;
  }
}
