.lottie-dare-video {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.lottie-dare-video video {
  width: 80%;
  height: auto;
}
