@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.message {
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* this is already centered because of WebLogin applying over...bad design...dont do this again */
}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s forwards;
}

.fade-out {
  opacity: 0;
  animation: fadeOut 1s forwards;
}

.phone.body,
.phone-html {
  overflow: hidden;
}

body.fade-to-black {
  background-color: black;
  transition: background-color 1s ease;
  z-index: 5;
}

.phone-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 300px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.phone-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.phone-page-container h1 {
  color: #f9c21b;
  font-size: 1.5em;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.phone-input-fields {
  color: #f9c21b;
  text-align: left;
  display: block;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

label.phone-input-fields input {
  text-align: left;
  border: none;
  border-color: transparent;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border-radius: 0px;
}

.phone-forgot-password-link {
  color: #f9c21b;
  text-align: right;
  display: block;
  padding: 5px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.phone-login-button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  border: 1px solid #f9c21b;
  width: 100%;
  margin: 10px 0;
}

.phone-login-button:hover {
  background-color: #f9c21b;
  background: transparent;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(249, 194, 27, 0.8);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.phone-create-user-button {
  padding: 10px;
  background-color: #f9c21b;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  margin: 10px 0;
}

.phone-create-user-button:hover {
  background-color: #f9c21b;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(249, 194, 27, 0.8);
  cursor: pointer;
  transition: transform 0.3s ease;
}
