/* PhoneHeader.css */
.header {
  position: fixed;
  top: 8px;
  right: 10px;
  padding: 10px 20px;
  color: white;
  z-index: 1000;
}

.user-logged-in {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sign-in-button:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

@media (max-width: 480px) {
  .username {
    cursor: pointer;
    padding-bottom: 5px;
    color: #007aff;
    font-size: 18px;
    display: block;
    font-weight: 600;
  }
  .logout-button {
    background-color: #007aff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    margin-right: -20px;
  }
  .sign-in-button {
    background-color: transparent;
    color: #007aff;
    font-weight: 600;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
  }
}

/* For larger screens (min-width: 768px) */
@media (min-width: 480px) {
  .username {
    cursor: pointer;
    padding-bottom: 5px;
    color: #007aff;
    font-size: 25px;
    display: block;
    font-weight: 600;
  }
  .logout-button {
    background-color: #007aff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    margin-right: -20px;
  }
  .sign-in-button {
    background-color: transparent;
    color: #007aff;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
}
