/* PhoneHeader.css */
.header {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  color: white;
  z-index: 1000;
}

.user-logged-in {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 480px) {
  .username {
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    color: #f9c21b;
    font-size: 18px;
    display: block;
    font-weight: 600;
  }
  .logout-button {
    background-color: #f4b400;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
  }
  .sign-in-button {
    background-color: transparent;
    color: #f9c21b;
    font-weight: 600;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
  }
}

/* For larger screens (min-width: 768px) */
@media (min-width: 480px) {
  .username {
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    color: #f9c21b;
    font-size: 25px;
    display: block;
    font-weight: 600;
  }
  .logout-button {
    background-color: #f9c21b;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
  }
  .sign-in-button {
    background-color: transparent;
    color: #f9c21b;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
}
