@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.message {
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s forwards;
}

.fade-out {
  opacity: 0;
  animation: fadeOut 1s forwards;
}

.web-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: -1; /* Keep it behind the content */
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.web-page-container h1 {
  color: #f9c21b;
  font-size: 3em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  white-space: nowrap;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.error {
  color: red;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.web-input-fields {
  color: #f9c21b;
  text-align: left;
  display: block;
}

label.web-input-fields input {
  text-align: left;
  border: none;
  border-color: transparent;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border-radius: 0px;
}

.web-forgot-password-link {
  color: #f9c21b;
  text-align: right;
  display: block;
  padding: 5px;
}

.web-login-button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  border: 1px solid #f9c21b;
}
.web-create-user-button {
  padding: 10px;
  background-color: #f9c21b;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
}
